* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-bg.png');
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-size: cover;
}
.drop {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.tab-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0;
  gap: 10px;
  list-style-type: none;
}

.tab-item-details {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 20px 0px;
  padding: 0;
  width: 90%;
  gap: 11px;
  justify-content: center;
  align-content: center;
}

.thumbnail-image {
  width: 90%;
  min-height: 60px;
  margin: 30px;
  min-height: 180px;
}

@media screen and (min-width: 768px) {
  .thumbnail-image {
    width: 50%;
  }
  .tab-item-details {
    width: 51%;
  }
}
